.container-fluid{
    padding: 0;
}
.topnav {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: rgb(206, 198, 180); /* Set background color to brown */
}

.logoWrap {
    max-width: 1200px;
    margin: 0;
    width: 30%;
    padding: 0 5%;
    clear: both;
    height: 150px;
}

.topnav .logo {
    float: left;
    width: 129px;
    display: block;
    margin: 10px 0 0 10px; /* Adjust margin to place the image at the top */
}

.sidebar{
    float: right;
}
.footer {
    background-color: #111115;
    width: 100%;
    float: left;
    height: 120px;
}

.innerWrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    padding: 0 5%;
    clear: both;
}

.footer p {
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    float: left;
    line-height: 120px;
}

.footer ul {
    float: right;
    list-style-type: none;
    width: auto;
    margin-top: 47px;
}

.footer ul li {
    list-style-type: none;
    display: inline-block;
}

.footer ul li a {
    font-weight: 400;
    font-family: 'formularMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 13px;
    display: block;
    position: relative;
    margin: 0 0 0 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer ul li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -6px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.footer ul li a:hover::after {
    visibility: visible;
    width: 100%;
}

